header {
    height: inherit;
}

#main-section {
    margin-top: 50px !important;
    padding: 20px 100px;
}

.live-auction-item-name {
    font-size: 19px !important;
}

.live-auction-text {
    font-size: 25px !important;
}

.live-auction-section {
    margin-top: 50px !important;
}


.limit-text {
    width: 200px !important; 
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}
/* 
footer {
} */