header {
    height: inherit;
}

#main-section {
    margin-top: 30px !important;
    margin-bottom: 20px;
    padding: 20px 100px;
    transition: padding 0.8s ease-out;
    /* transition: margin-top 0.8s ease-in; */
}

/*  */
@media (max-width: 900px) {
    #main-section {
        margin-top: 15px;
        padding: 10px 40px;
    }
}

@media (max-width: 700px) {
    #main-section {
        margin-top: 5px;
        padding: 0px 5px;
    }
}
/*  */

.live-auction-item-name {
    font-size: 19px !important;
}

.live-auction-text {
    font-size: 25px !important;
}

.live-auction-section {
    margin-top: 50px !important;
}


.limit-text {
    width: 200px !important; 
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

.h-200 {
    max-height: 290px;
    overflow-y: auto;
}

.live-auction-category-item-name {
    z-index: 9;
}

.live-auction-item-image {
    height: 170px !important;
}

.img-200 {
    height: 200px !important;
}

.img-h-120 {
    height: 120px !important;
}

.img-h-150 {
    height: 150px !important;
}

.w-100-p {
    width: 100% !important;
}
/* 
footer {
} */