.other-items {
    padding: 0;
}

.send-offer-auction-details {
    font-size: 12px;
}

.bidding-info-container {
    max-height: 400px;
    overflow-y: auto;
}

.item-details-img {
    min-height: 200px;
    width: 100%;
}

@media (max-width: 900px) {
    .bidding-info {
        border-top: 1px;
        border-style: solid;
        border-width: 2px 0px 0px 0px;
        margin-top: 30px;
        padding-top: 20px;
    }

    .item-details-img {
        height: 100% !important;
    }
}