.sell-an-item-category-item {
    cursor: pointer;
}

.sell-an-item-category-item.selected-category div:nth-child(2) > p, .sell-an-item-category-item:hover:not(.selected-category) div:nth-child(2) > p {
    color: red !important;
}

.sell-an-item-category-item.selected-category > div, .sell-an-item-category-item:hover > div {
    border: 2px solid red;
    border-radius: 10px !important;
}

.sell-an-item-category-item:hover > div > div > img, .sell-an-item-category-item.selected-category > div > div > img {
    border-radius: 8px !important;
}

.sell-your-item-section {
    display: none;
    transition: display 0.7s ease-out;
}

.sell-your-item-section.active-section {
    display: block;
    transition: display 0.7s ease-out;
}

.item-image-selector{
    display: none !important;
}

.image-upload-label {
    display: flex;
    align-items: center;
    justify-content: center;
}