.alert-container {
    bottom: 2%;
    position: fixed;
    z-index: 9999;
}

.alert-btn {
    border-radius: 20px; 
    padding: 5px 15px 5px 15px; 
    color: white; 
    border: 0px; 
    font-weight: bold; 
    box-shadow: 1px 0px 20px #d1d1d1 !important;
}

header {
    height: inherit;
}

.active {
    font-weight: bolder;
    color: black;
}

#app-logo {
    /* width: 40px; */
    height: 50px;
}

#main-section {
    margin-top: 30px !important;
    margin-bottom: 20px;
    padding: 20px 100px;
    transition: padding 0.8s ease-out;
    /* transition: margin-top 0.8s ease-in; */
}

.live-auction-item-name {
    font-size: 19px !important;
}

.live-auction-text {
    font-size: 25px !important;
}

.live-auction-section {
    margin-top: 50px !important;
}

.limit-text {
    width: 200px !important; 
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

.h-200 {
    max-height: 290px;
    overflow-y: auto;
}

.live-auction-category-item-name {
    z-index: 9;
}

.live-auction-item-image {
    height: 170px !important;
}

.img-200 {
    height: 200px !important;
}

.img-h-120 {
    height: 120px !important;
}

.img-h-150 {
    height: 150px !important;
}

.w-100-p {
    width: 100% !important;
}

.invitation-img {
    max-height: 500px;
    width: inherit !important;
}

.invitation-message-container {
    padding: 40px;
}

.invitation-message-container h5 {
    max-width: 600px;
    font-size: 40px;
}

.invitation-message-container h6 {
    max-width: 500px;
    font-size: 30px;
    font-weight: lighter;
}

.invitation-message-container p {
    max-width: 600px;
    font-size: 20px;
    font-weight: lighter;
}

/*  */
@media (max-width: 900px) {
    #main-section {
        margin-top: 15px;
        padding: 10px 40px;
    }

    .img-h-150 {
        height: 250px !important;
    }

    .img-h-150 {
        height: 200px !important;
    }
}

@media (max-width: 700px) {
    .invitation-message-container h6 {
        max-width: 100% !important;
        font-size: 20px;
    }

    .invitation-message-container h5 {
        max-width: 100% !important;
        font-size: 25px;
    }

    .invitation-message-container p {
        max-width: 600px;
        font-size: 15px;
    }

    .invitation-message-container {
        padding: 20px;
    }

    #main-section {
        margin-top: 5px;
        padding: 0px 5px;
    }
}
/*  */